# FILE: .dockerignore
# -------------------------------------------------------------------------------------------------
**/__pycache__/**
**/.ipynb_checkpoints/**
**/.mypy_cache/**
**/.pytest_cache/**
**/.ruff_cache/**
**/.venv/**
.venv/
.venv*/
.env
*.env.*
data/
artifacts/
site/
reports/
dist/
build/